<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="../styles/specimenstyle.css" type="text/css">
    <link rel="stylesheet" href="../styles/font.css" type="text/css">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="shortcut icon" href="../database/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


  </head>
<header>
  <%- include('../common/header') %>
</header>

<!-- <div class="filter">
  Filter:
  <span> Complete</span><span> Sketches</span>
</div> 
<hr> -->

<div class="about-wrapper">
  <h2>What is "Burg Typefaces"?</h2>
Burg-Typefaces is an ongoing archive of typefaces that are designed and developed by current and former students of Burg Halle that aims to make typefaces from BURG designers* more visible and therefore accessible.<br><br>
All fonts displayed on this website are the property of their respective authors and can only used under the license they are published with. Visit the author's websites for more information. Contact them directly if you have any doubts about the legal situation. If the author and/or license is not indicated, no information is available. However, this does not mean that the font is free or royalty-free.<br><br>
  <h2>Notice and Takedown Policy</h2>
  <p>We respect your rights and expect that you respect the rights of others. In the unfortunate event that we are notified of unlawful files or content being distributed on our website, we will remove the concerning files from our website immediately. <br>
  By using our website you agree to be bound by our Notice and Take Down Policy.</p> </br>
  <h2>Credits</h2>
  <span style="text-decoration: underline;">Burg Typefaces</span> is an ongoing project by Volker Buchwald<br>
  Conception, Design and Code by <a target=_blank style="color: white; padding-left: 0;" href="https://instagram.com/fire.wrks">Volker Buchwald</a><br>
  Typeface: Gräbenbach by <a target=_blank style="color: white; padding: 0;" href="https://www.wolfgangschwaerzler.de/">Wolfgang Schwärzler</a>, Camelot Typefaces<br>
</br><br>
  <h2>Imprint</h2>
  Prof. Andrea Tinnes<br>
  Burg Giebichenstein Kunsthochschule Halle<br>
  University of Art and Design<br>
  Neuwerk 7<br>
  06108 Halle (Saale)<br>
  Instagram: <a target=_blank style="color: white; padding-left: 0;" href="https://instagram.com/burgtypo">@burgtypo</a><br>
  <br>
  <h2>Privacy Protection</h2>
  <a target=_blank style="color: white; padding-left: 0;" href="https://www.burg-halle.de/hochschule/datenschutz">https://www.burg-halle.de/hochschule/datenschutz</a>
  <br>
  <br>
  © 2023
  <br>
</div>
<script src="scripts/script2.js" type="text/javascript"></script>
