<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="styles/specimenstyle.css">
</head>
<div class="topnav">
  Typo Library
</div>

<form method="POST" action="./uploaddata">
  <label for="avatar">Add your font File:</label></br>
  <input type="file" id="fontfile" name="fontfile" accept=".otf, .woff, .woff2"></br>
  <label for="fontname">Name of your font:</label><br>
  <input type="text" id="fontname" name="fname"><br>
  <label for="lname">Your name:</label><br>
  <input type="text" id="lname" name="lname"></br>
  <label for="teachername">Teacher:</label><br>
  <input type="text" id="teachername" name="teachername"></br>
  <label for="teachername">Describe your Font:</label><br>
  <input type="text" id="description" name="description"></br>
  <label for="picturefiles">Add Pictures:</label><br>
  <input type="file" id="picturefiles" name="picturefiles" multiple accept="image/*"><br><br>
  <label for="">Add Your Instagram:</label><br>
  <input type="text" id="description" name="description"></br>
  <label for="">Add Your E-Mail:</label><br>
  <input type="text" id="description" name="description"></br>
  <input type="submit" value="Send Request"  />
</form>


  <script src="script.js" type="text/javascript"></script>
