@font-face {
        font-family: 'Archivo';
        src: url('../fonts/Archivo-Regular.woff2');
    }
@font-face {
            font-family: 'Archivo-Medium';
            src: url('../font_styles/Archivo-Medium.woff2');
            font-weight: Archivo-Medium;
        }
@font-face {
            font-family: 'Archivo-MediumItalic';
            src: url('../font_styles/Archivo-MediumItalic.woff2');
            font-weight: Archivo-MediumItalic;
        }