@font-face {
        font-family: 'Dia';
        src: url('../fonts/Dia-Regular.otf');
    }
@font-face {
            font-family: 'Dia-BlackItalic';
            src: url('../font_styles/Dia-BlackItalic.otf');
            font-weight: Dia-BlackItalic;
        }
@font-face {
            font-family: 'Dia-Bold';
            src: url('../font_styles/Dia-Bold.otf');
            font-weight: Dia-Bold;
        }
@font-face {
            font-family: 'Dia-Light';
            src: url('../font_styles/Dia-Light.otf');
            font-weight: Dia-Light;
        }
@font-face {
            font-family: 'Dia-Regular';
            src: url('../font_styles/Dia-Regular.otf');
            font-weight: Dia-Regular;
        }