@font-face {
  font-family: 'AutreDisplay-Regular';
  src: url('../fonts/AutreDisplay-Regular.woff2') format('truetype');
}
@font-face {
  font-family: 'Basteleur-Moonlight';
  src: url('../fonts/Basteleur-Moonlight.woff2') format('truetype');
}
@font-face {
  font-family: 'BurgGrotesk-Regular';
  src: url('../fonts/BurgGrotesk-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'softy-Regular';
  src: url('../fonts/softy-Regular.otf') format('truetype');
}