@font-face {
  font-family: 'AutreDisplay-Regular';
  src: url('../fonts/AutreDisplay-Regular.woff2') format('truetype');
}
@font-face {
  font-family: 'KarlsbaderGrotesk-400';
  src: url('../fonts/KarlsbaderGrotesk-400.woff2') format('truetype');
}